/* 

.contact {
  margin-top: 10vh;
  margin-bottom: 0vh;
  display: flex;
  align-items: center;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.contact h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 7%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
}
.contact img {
  width: 8vw;
  display: flex;
  justify-content: center;
  position: relative;
  left: 8%;
}

.certificates-header {
  display: flex;
  align-items: center;
}

#certificates p {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 7%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
}
.logo {
  width: 8vw;
  display: flex;
  justify-content: center;
  position: relative;
  left: 8%;
}
.product {
  overflow: hidden;
  width: 23vw;
  height: 45vh;
  border-radius: 80px;
  background-color: #181924;
  transition: 1s;
  position: relative;
}

.image_description {
  margin-bottom: 9vh;
  display: flex;
  justify-content: center;
} */

body {
    background-color: #10101a;
   
  }
  
  .row {
    display: flex;
   
    justify-content: space-between;
    padding-top: 7rem;
    margin: 40px;
  }
  
  .product {
    overflow: hidden;
    width: 20vw;
    height: 38vh;
    border-radius: 80px;
    background-color: #181924;
    transition: 1s;
  }
  
  h1 {
    display: flex;
    color: white;
    margin-top: 150px;
    margin-bottom: -20px;
  }
  
  .logo {
    width: 150px;
    margin-top: -50px;
  }
  
  .image {
   
    height: 25vh;
    border-radius: 10px;
   
    padding-top: 60px;
  }
  
  .product:hover {
    transform: scale(1.2);
    z-index: 2;
  }
  
  .product-thumb {
    display: flex;
    justify-content: center;
   
  }
  
  @media screen and (max-width: 1200px) {
    .image {
      width: 290px;
      height: 230px;
    }
  
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    .product:hover {
      transform: scale(1.2);
      z-index: 2;
      height: 350px;
      width: 350px;
    }
  
    .image:hover {
      width: 290px;
      height: 220px;
    }
  
    .product {
      width: 350px;
      height: 390px;
      margin: 18px;
    }
  }
  
  
  .changes {
    background-color: #10101a;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    color: white;
    border-color: white;
    border-radius: 22px;
    height: 50px;
    font-size: 25px;
    margin-top: 40vh;
  }
  
  
  
  .new-cert {
    background-color: #181924;
    color: white;
    font-weight: bold;
    border: white;
    width: 25vh;
    border-radius: 22px;
    height: 6vh;
    font-size: 1.9vh;
    margin-top: 15vh;
    margin-left: 120vh;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181924;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  .image-overlay:hover {
    opacity: 0.9;
  }
  
  .image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  
  .image-overlay:hover > * {
    transform: translateY(0);
  }
  
  /* .image {
    height: 30vh;
    border-radius: 10px;
    margin: 10px;
    padding-top: 60px;
  }
  
  .product-thumb {
    display: flex;
    justify-content: center;
    flex-direction: row;
  } */
  
  .changes {
    background-color: #10101a;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    color: white;
    border-color: white;
    border-radius: 22px;
    height: 50px;
    font-size: 25px;
    margin-top: 40vh;
  }
  /* 
  @media screen and (max-width: 955px) {
    .image {
      width: 260px;
      height: 220px;
    }
    .btn-custom {
      padding: 10px 30px;
    }
  }
  
  @media screen and (max-width: 1225px) {
    .product {
      width: 425px;
      height: 400px;
      margin: 8px;
    }
  
    .btn-custom {
      padding: 10px 30px;
    }
  }
  
  .new-cert {
    background-color: #181924;
    color: white;
    font-weight: bold;
    border: white;
    width: 25vh;
    border-radius: 22px;
    height: 6vh;
    font-size: 1.9vh;
    margin-top: 4vh;
    margin-left: 120vh;
  } */
  