.loading {
    color: white
}
.popup{
    width: 250px;
    height: 45px;
    background-color: #181924;
    border-radius: 10px;
    color: white;
    border: solid 1px #6f6868;
    font-size: 20px;
}
.add-text{
    color: white;
}
.popup-submit{
    width: 200px;
    height: 45px;
    background-color: #181924;
    border-radius: 10px;
    color: white;
    border: solid 1px #6f6868;
    font-size: 20px;
    cursor: pointer;
}
.projects-section{
    margin-top: 150px;
}
.add-input{
    width: 130px;
    height: 35px;
    background-color: #181924;
    border-radius: 10px;
    color: white;
    border: solid 1px #6f6868;
    font-size: 20px;

}
.projects-button {
    background-color: #181924;
    width: 219px;
    height: 57px;
    border-radius: 20px;
    color: white;
    border: solid 2px #6f6868;
    font-size: 20px;
    margin-right: 100px;
    cursor: pointer;
}
.projects-header{
    display: flex;
    align-items: center;

}
.projects-header p{
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 7%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
}
.projects-header img{
    width: 8vw;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8%;
}
.projects-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.number {
    font-size: 100px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}
.project-border {
    display: flex;
    gap: 120px;
    width: 50vw;
    height: 50vh;
    background-color: #181924;
    border-radius: 50px;
    align-items: center;
}
.project-content {
    color: white;
    width: 40vw;
}
.title1 {
    font-size: 40px;
    font-weight: bold;
}
.title2{
    font-size: 25px;
    line-height: 1;
}
.title3 a{
    font-size: 25px;
    text-decoration: none;
    color:aqua;
    border-bottom: solid 2px aqua;

}
.img-container {
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    position: relative;
    top: 8%;
    background-color: #181924;
}
.project-image1 {
    margin-left: 20%;
    width: 15vw;
    height: 22vh;
    transition: all 0.5s ease-in-out;
    position: absolute;
    border-radius: 20px;
}
.project-image2 {
    margin-left: 20%;
    width: 15vw;
    height: 22vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    border-radius: 20px;
}
.img-container:hover .project-image1 {
    opacity: 0;
}
.img-container:hover .project-image2 {
    opacity: 1;
}
.project-holder{
    position: relative;
}
.edit-button{
    width: 200px;
    height: 45px;
    background-color: #181924;
    border-radius: 10px;
    color: white;
    border: solid 1px #6f6868;
    font-size: 20px;
    cursor: pointer;
}


@media only screen and (min-width: 300px) and (max-width: 800px) {
  
    .projects-wrapper{
        padding-top: 10vw;
    }
    .projects-button {
        width: 130px;
        height: 47px;
        font-size: 15px;
        margin-right: 100px;
    }
    .projects-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
    }
    .projects-header img{
        width: 20vw;
        display: flex;
        justify-content: center;
        position: relative;
        left: 8%;
}

    .number {
        font-size: 70px;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
    }
    .projects-header p{
        position: relative;
        left: 7%;
        display: flex;
        align-items: center;
        color: white;
     }
   
    .project-content {
        color: white;
        width: 80vw;
    }
    .title1 {
        font-size: 20px;
        font-weight: bold; 
    }
    .title2{
        font-size: 15px;
    }
    .title3 a{
        font-size: 15px;
        color:aqua;
        border-bottom: solid 2px aqua;

    }
    .project-border {
        display: flex;
        flex-direction:column-reverse;
        width: 90vw;
        height: 50vh;
        background-color: #181924;
        border-radius: 50px;
        align-items: center;
        /* margin-top: -150px; */

    }
    .projects {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        width: 70vw;
        height: 28vh;
        overflow: hidden;
        position: relative;
        margin-top: -60px;
        background-color:#181924;
        margin-bottom: 33px;
    }
    .project-image1 {
        margin-left: 20%;
        width: 40vw;
        height: 18vh;
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: 2;
        z-index: 2;
        border-radius: 20px;
    }
    .project-image2 {
        margin-left: 20%;
        width: 40vw;
        height: 18vh;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: 2;
        border-radius: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .projects-wrapper{
        padding-top: 10vw;
    }
    .projects-header img{
        width: 20vw;
        display: flex;
        justify-content: center;
        position: relative;
        left: 8%;

    }
    .projects-header p{
        color: white;
        font-weight: bold;
        font-size: 30px;
    }
    .project-content {
        color: white;
        width: 50vw;
    }
    .title1 {
        font-size: 35px;
        font-weight: bold; 
    }
    .title2{
        font-size: 20px;
    }
    .title3 a{
        font-size: 20px;

        color:aqua;
        border-bottom: solid 2px aqua;

        text-decoration: none;
    }
    .project-border {
        display: flex;
        gap: 70px;
        width: 65vw;
        height: 50vh;
        background-color: #181924;
        border-radius: 50px;
        align-items: center;
    }
    .projects {
        display: flex;
        gap: 5%;
    }
    .img-container {
        width: 50vw;
        height: 30vh;
        overflow: hidden;
        position: relative;
    }
    .project-image1 {
        width: 20vw;
        height: 18vh;
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: 2;
        z-index: 2;
        border-radius: 20px;
    }
    .project-image2 {
        margin-left: 20%;
        width: 20vw;
        height: 18vh;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: 2;
        border-radius: 20px;
    }
}