

.skills-title img{
    width: 8vw;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8%;

}   
.skills-title{
    display: flex;
    align-items: center;
}
.skills-title p{
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 7%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;

}
.skills-container{
    display: flex;
    justify-content: space-between;
}


.skills-items{
    display: flex;
flex-direction: row;
    justify-content: space-around;
    padding-top: 2vw;
}
.skills-items img{
    width: 11vw;
    height: 11vw;
    display: flex;
}
.skills-items h3{
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

/* .skills-names{
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}
.skills-logos img{
    position: relative;
    left: 5.4%;
        display: inline-block;
        width: 8.5%;
        height: auto;
        margin: 2% 4% 0% 5%;
    
} */
.skills-quote{
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    opacity: 80%;
}
@media (max-width: 1200px){
    .skills-title{
        display: flex;
        align-items: center;    }
    .skills-title img{
        width: 20vw;
    }
    .skills-title h1{
        font-size: 30px;
    }
    .skills-items {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .skills-items h3{
        display: flex;
        align-items: center;   
    }
    .skills-items img{
        width:auto ;
        display: flex;
        justify-content: center;
    }
    .skills-item-1 img{
        width: 35vw;
        height: 35vw;
    }

    .skills-item-1 h3{
        font-size: 10vw;
    }
    .skills-item-2 img{
        width: 35vw;
        height: 35vw;
    }

    .skills-item-2 h3{
        font-size: 7vw;
    }
    .skills-item-3 img{
        width: 35vw;
        height: 35vw;
    }

    .skills-item-3 h3{
        font-size: 10vw;
    }
    .skills-item-4 img{
        width: 35vw;
        height: 35vw;
    }

    .skills-item-4 h3{
        font-size: 10vw;
    }
    .skills-item-5 img{
        width: 35vw;
        height: 35vw;
    }

    .skills-item-5 h3{
        font-size: 10vw;
    }
    .skills-quote{
        color: white;
    font-size: 28px;
    text-align: center;
    opacity: 80%; 
    }

    .skills-container{
        margin-top: 20px;
        display: flex;
        flex-direction:column;
        align-items: first baseline;
       
    }


}
