.about-title img{
    width: 8vw;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8%;
}   
.about-title{
    display: flex;
    justify-content: flex-start;
}
.about-title h1{
    position: relative;
    left: 7%;
    display: flex;
    align-items: center;
    color: white;
}

.profile-background img{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.about-content{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}
.about-content p{
    font-size: 20px;
}
    
@media (max-width: 1200px){
    .about-content{
        display: flex;
        flex-direction: column;
    }
    .about-content img{
        width: 40vw;
        height: 40vw;
    }
    .about-title{
        display: flex;
        align-items: center;
    }
    .about-title img{
        width: 20vw;
    }   
    .about-title h1{
        color: white;
        font-size: 30px;
    }
}