body {
  background-color: #10101a;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
  margin: 10px;
}

.product {
  overflow: hidden;
  width: 20vw;
  height: 38vh;
  border-radius: 80px;
  background-color: #181924;
  transition: 1s;
}
.certificates-title img{
  width: 8vw;
  display: flex;
  justify-content: center;
  position: relative;
  left: 8%;

}

.certificates-title{
  display: flex;
  align-items: center;

}
.certificates-title p{
  color: white;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  left: 7%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;

}
.logo {
  width: 150px;
  margin-top: -50px;
}

.image {
  height: 25vh;
  border-radius: 10px;
  margin: 1px;
  padding-top: 60px;
}

.product:hover {
  transform: scale(1.4);
  z-index: 2;
}

.product-thumb {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .image {
    width: 290px;
    height: 230px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .product:hover {
    transform: scale(1.2);
    z-index: 2;
    height: 350px;
    width: 350px;
  }

  .image:hover {
    width: 290px;
    height: 220px;
  }

  .product {
    width: 350px;
    height: 390px;
    margin: 18px;
  }
}
